#my-game {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

body {
    background-color: maroon;
    font-family: cursive;
    text-align: center;
}

h1 {
    color: lightpink;
}

h3 {
    font-size: 1.25em;
    color: lightpink;
}
