button {
    font-family: sans-serif;
    font-size: 1em;
    outline-width: thick;
    outline-style: solid;
    width: 80%;
    color: black;
    background-color: rgba(100, 0, 150, 0.5);
}

form {
    padding-bottom: 0.6em;
}

.site {
    font-family: sans-serif;
    font-size: 2em;
    margin: 0px;
    border-width: medium;
    border-style: solid;
    padding-left: 0.5em;
    background-color: rgba(255, 255, 255, 0.7);
}

.site2 {
    margin: 0px;
    padding: 0px;
}

.title {
    font-size: 2em;
    padding-bottom: 0.3em;
}

.subtitle {
    padding-bottom: 0.1em;
    font-size: 1em;
}

.info {
    font-size: 0.5em;
    padding-bottom: 2em;
    padding-top: 0.2em;
}

p {
    margin: 0px;
}

html {
    background-color: rgb(100, 50, 150);
    align-content: center;
    text-align: center;
    align-items: center;
}

div {
    margin-bottom: 0.6em;
    padding-top: 0.6em;
}
